# This builds the mongodb core for aarch64

name: Build mongodb core

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  #push:
  #  branches: [ "master" ]
  #pull_request:
  #  branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-core:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Install dependencies required for the build
      - name: Install dependencies
        uses: uraimo/run-on-arch-action@v2.2.0
        with:
          arch: aarch64
          distro: ubuntu_latest
          run: |
            apt update && apt upgrade
            apt install build-essential libcurl4-nss-dev liblzma-dev python3 python-dev-is-python3 libssl-dev
            python3 -m pip install -r etc/pip/compile-requirements.txt

      # Builds the MongoDB binary
      - name: Build MongoDB
        uses: uraimo/run-on-arch-action@v2.2.0
        with:
          arch: aarch64
          distro: ubuntu_latest
          run: python3 buildscripts/scons.py install-core --disable-warnings-as-errors

      - name: Upload Binaries
        uses: actions/upload-artifact@v3
        with:
          name: mongodb-build-aarch64
          path: build/install
